<ul class="tree">
    <li
        class="
          tree__item
          tree__item--root">
        <span
            class="
                btn-tree
                btn-tree--folder">
            {{ tree.title }}
        </span>
        <ul>
            <li
                *ngFor="let level1 of tree.tree?.children"
                class="
                    tree__item
                    tree__item--level1">
                <app-tree-item
                    [item]="level1"
                    (onClickFile)="openFile($event)">
                </app-tree-item>
                <ul>
                    <li
                        *ngFor="let level2 of level1.children"
                        class="
                            tree__item
                            tree__item--level2">
                        <app-tree-item
                            [item]="level2"
                            (onClickFile)="openFile($event)">
                        </app-tree-item>
                        <ul>
                            <li
                                *ngFor="let level3 of level2.children"
                                class="
                                    tree__item
                                    tree__item--">
                                <app-tree-item
                                    [item]="level3"
                                    (onClickFile)="openFile($event)">
                                </app-tree-item>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
