
/* Tree */
/* ---- */

.btn-tree {
    height: 24px;
    line-height: 24px;

    &--folder {
        font-weight: bold;
    }

    &--arrow {

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 5px 0 5px;
            border-color: #666666 transparent transparent transparent;
            transform: rotate(-90deg);
            transition: transform 100ms linear;
        }

        &.jsIsOpen::before {
            transform: rotate(0);
        }
    }
}

.tree {
    width: 246px;
    height: 100%;
    padding: 20px 10px;
    background-color: var( --sublime-menu );
    font-family: 'Inconsolata', Courier, monospace;
    font-weight: 400;
    color: black;

    strong {
        font-weight: 700;
    }

    ul ul ul {
        padding-left: 8px;
    }

    &__item {
        position: relative;
        padding-left: 10px;

        &--root > ul {
            margin-top: 3px;
        }

        .jsisfolder {

            /*+ ul {
                max-height: 0;
                overflow: hidden;
                transition: max-height 100ms linear;
            }*/
        }

        &--level1 .jsisfolder.jsIsOpen + ul {
            max-height: 700px;
        }

        &--level2 .jsisfolder.jsIsOpen + ul {
            max-height: 300px;
        }

        &--level3 .jsisfolder.jsIsOpen + ul {
            max-height: 200px;
        }
    }
}