:root {
    --body-color: #eee;
    --font-base: 1rem;

    --sublime-top-bar   : #2D2D2D;
    --sublime-menu      : #E6E6E6;
}

/*@custom-media --viewport-medium (width <= 40rem);
@custom-media --viewport-large (max-width: 50em);

@custom-selector :--heading h1, h2, h3, h4, h5, h6;*/

/*@media (--viewport-medium) {

    body { 
        font-size: var(--font-base)
    }
}*/

/* Helpers */
/* ------- */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/* Additional reset */
/* ---------------- */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after  {
    box-sizing: border-box;
}


/* Object */
/* ------ */

/*.center-child {
    text-align: center;

    > * {
        display: inline-block;
    }
}*/

/*.block-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}*/

.list {

    &--inline li {
        display: inline-block;
        margin: 0 7px;
    }
}

.btn-reset {
    display: inline-block;
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

/* Test */
.sublime {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}

/* Style */
/* ----- */

body {
    font: 14/16 arial, helvetica, sans-serif;
    color: white;
}


/* Style */
/* ----- */

.app {
    // opacity: 0.8;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    &__bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 48px;
        padding: 0 10px;
        background-color: var( --sublime-top-bar );
        font-size: 14px;

        &__top {
            align-self: center;
        }
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: stretch;
        height: 100%;

        &__content {
            flex-grow: 1;
            width: 1px;
            height: 100%;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #222;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #565656;
    border-radius: 10px;
}


.editor-ctn {
    background-color: var( --sublime-background );
}