
/* Editor */
/* ------ */

/* TODO: solve scope var, in json ? bof */
:root {
    --sublime-background: #141414;
    --sublime-tab       : #565656;
    --sublime-tab-darken: #666;

    --editor-tab-height     : 33px;
    --editor-tab-padding-top : 5px;

    --editor-height-line : 18px;
}

.editor {
    background-color: var( --sublime-background );

    &__tab {
        display: flex;
        width: 100%;
        height: var( --editor-tab-height );
        padding: var( --editor-tab-padding-top ) 0 0 50px;
        background-color: var( --sublime-tab );
        
        &__item {
            display: none;
            position: relative;
            z-index: 1;

            /* Sizes */
            max-width: 175px;
            flex-grow: 1;
            margin-left: -12px;
            padding: 0 10px;

            /* Trapezoid */
            height: 0;
            line-height: calc( var( --editor-tab-height ) - var( --editor-tab-padding-top ) );
            border-bottom: calc( var( --editor-tab-height ) - var( --editor-tab-padding-top ) ) solid var( --sublime-tab-darken );
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;

            font-size: 13px;
            cursor: default;

            &.jsIsVisible {
                display: block;
            }

            &.jsIsActive {
                z-index: 2;
                border-bottom-color: var( --sublime-background );
            }

            &__close {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: calc( var( --editor-tab-height ) - var( --editor-tab-padding-top ) );
                color: white;
            }
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: stretch;
        height: 100%;
        padding: 5px 0;
        
        &__line {
            width: 50px;
            height: 100%;
            padding: 0 20px 0 15px;
            font-size: 13px;
            color: #555;
            text-align: right;

            &__item {
                height: var( --editor-height-line );
                line-height: var( --editor-height-line );
            }
        }

        &__content {
            flex-grow: 1;

            pre {
                margin: 0;
                padding: 0;
                background-color: var( --sublime-background );
                border-radius: 0;
            }

            code[class*="language-"], 
            pre[class*="language-"] {
                line-height: var( --editor-height-line );
            }
        }
    }
    
}