<div class="tree">
    <ul>
        <li 
            class="
                tree__item
                tree__item--root">
            <span 
                class="
                    btn
                    btn--folder">
                {{ title }}
            </span>
            <ul *ngIf="tree.children.length > 0">                
                <li 
                    *ngFor="let level1 of tree.children"
                    class="
                        tree__item
                        tree__item--level1">
                    <button
                        type="button"
                        (click)="triggerItem( level1 )"
                        class="
                            btn-reset
                            btn"
                        [ngClass]="{
                            'btn--folder': level1.isFolder, 
                            'btn--arrow' : level1.isFolder,
                            'jsIsOpen'        : level1.isOpen
                        }">    
                        {{ level1.name }}
                    </button>
                    <ul>                
                        <li 
                            *ngFor="let level2 of level1.children"
                            class="
                                tree__item
                                tree__item--level2">
                            <button
                                type="button"
                                (click)="triggerItem( level2 )"
                                class="
                                    jsEventMenuItem
                                    btn-reset
                                    btn"
                                [ngClass]="{
                                    'btn--folder': level2.isFolder, 
                                    'btn--arrow' : level2.isFolder,
                                    'jsIsOpen'        : level2.isOpen
                                }">    
                                {{ level2.name }}
                            </button>
                            <ul>                
                                <li 
                                    *ngFor="let level3 of level2.children"
                                    class="
                                        tree__item
                                        tree__item--level3">
                                    <button
                                        type="button"
                                        (click)="triggerItem( level3 )"
                                        class="
                                            jsEventMenuItem
                                            btn-reset
                                            btn"
                                        [ngClass]="{
                                            'btn--folder': level3.isFolder, 
                                            'btn--arrow' : level3.isFolder,
                                            'jsIsOpen'        : level3.isOpen
                                        }">    
                                        {{ level3.name }}
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul> 
</div>